<div class='flex justify-center items-center relative bottom-[0px] w-[100%] h-[80px] bg-[#000000] border-t-[2px] border-[#ffffff]'>
<span class="text-white flex justify-center items-center font-[500]">
<img src="<%= asset_path('icons/copyright.png') %>" class='w-[15px] h-[15px] mr-[2px]'> Copyright 2025, MY APP
</span>
</div>