<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
 <section class=" ">
    <div class="about-us relative  w-[100%] h-[95vh] bg-[#000000] text-white flex justify-center items-center">
        <div class="about-us-container relative flex flex-col items-center w-[80%] ">
            <div class="title-container text-[2.75rem] font-[600] my-[7%] text-white">
                <h2 class="relative after:content-['']  after:bg-red-500 after:absolute after:bottom-0 after:right-0 after:w-[100%] after:h-[3px] ">ABOUT <span class='text-white'>US<span></h2>
            </div>
            <div class="about-us-text flex w-100% lg:w-[60%]   lg:text-[1.25rem] sm:leading-[50px] ">
                Welcome to BURGERJEE, where passion meets flavor. Since our doors opened, we’ve been dedicated to creating unforgettable dining experiences by combining fresh ingredients, authentic recipes, and a warm, inviting atmosphere.
                Our team of talented chefs takes pride in crafting every dish with care, drawing inspiration from our delicious zinger burger to our special burgers, and blending traditional techniques with a modern twist. Whether you're here for a casual lunch, a dinner, or a family celebration, we promise food that satisfies and service that makes you feel at home.
                At BURGERJEE, we believe food is more than just a meal — it’s a way to bring people together. Come join us and taste the difference.
               


            </div>
        </div>
    </div>

<section/>